@import "button.css";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 1.7;
    color: #4d4d4d;
}

.container {
    width: 100%;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    z-index: 1;
    position: relative;
}

/* Small devices */
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

/* Medium devices */
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

/* Large devices */
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

/* Extra large devices */
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/* Extra extra large devices */
@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

